/* Site Logo */
header a.logo {
  z-index: 1;
  position: absolute;
  display: block;
  width: 25%;
  min-width: 222px;
  height:inherit;
  background: url("../Images/EVERYDAY THINGS.svg") no-repeat 0 0;
  background-size: contain;
  top: 15px;
  left: 20px;
}

header a.logo span {
  display: none;
}

/* Navigation */
nav {
  background-color: rgba(0,0,0,0.65);
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  padding: 72px 0 0;
  margin: 0;}

nav:: after {content: ''; display: block; clear: both;}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li:hover {
  background-color: #2b0306;
}

nav ul li a {
  display: block;
  color: #fff;
  padding: 10 20px;
  text-decoration: none;
  width: 125px;
  position:relative;
}

nav ul li a:hover {
  background-color: #6d0911;
  text-indent: 2px;
}

nav ul li a:visited {
  color: #fff;
}

nav ul ul {
  background-color: #2b0306;
}

nav ul ul li {
  position:relative;
}

nav ul ul {
  display: none;
}

nav ul li:hover > ul {
  display: block;
}

/* Nav Top Level */
nav > ul {
  padding-left: 310px;
}

nav > ul > li {
  float: left;
}

/* Footer */
footer, footer a:visited {
  font-size: 0.8em;
  font-weight: 200;
  margin: 20px 20px 40px;
  color: #ccc;
  text-align: center;
}

footer a {
  margin-left: 30px;
}

footer a:hover {
  color: #777;
}
